.container {
    border: 1px solid black;
}

.page-navigation{
    .flex-row(space-between);

    .logo-image {
        width: 10%;
    }
}

header {
    position: relative;

    .header-image {
        width: 100%;
    }

    .header-text {
        position: absolute;
        bottom: 200px;
        right: 300px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        //background-color: red;
      }
}

.main-content{
    .flex-column();
    text-align: center;
    margin: 0 2%;

    .features {
        .flex-row(space-between);
        border: 1px solid red;

        section {
            width: 32%;
        }

        img {
            border-radius: 20px;
        }
    }

    .destinations {
        .flex-row(space-between);
        flex-wrap: wrap;
        border: 1px solid blue;

        section {
            padding-bottom: 20px;
        }

        img {
            max-height: 350px;
            border-radius: 20px;
        }
        .small {
            width: 30%;
        }
    
        .large {
            width: 68%;
        }
    }
}

footer{
    .flex-column();
    border: 1px solid violet;

    .social-media{
        .flex-row();
    }

    .additional-links{
        .flex-row();
    }

    .copyright{
        .flex-row();
    }
}