.logo-image {
    width: 10%;
}

.header-image {
    width: 100%;
}

.features {
    img {
        width: 30%;
        height: 30%;
    }
}

.destinations {
    img {
        max-height: 350px;
    }
    .small {
        width: 30%;
    }

    .large {
        width: 65%;
    }
}