.flex-column(@justifyContent: flex-start){
    display: flex;
    flex-direction: column;
    justify-content: @justifyContent;
}

.flex-row(@justifyContent: flex-start){
    display: flex;
    justify-content: @justifyContent;
}